<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Decagon Signin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{images/icons/favicon.ico}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"><!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-b-160 p-t-50">
            <!--				<form method="post" th:action="@{/}" th:object="${admin}">-->
            <!--					<p th:text="${invalid}" style="color: #ff0000"></p>-->
            <div th:if="${param.error}" class="alert-danger ml-3 col-sm-10">
                Invalid username and password.
            </div>
            <form method="post" th:action="@{/admin/login}" class="login100-form validate-form">
                <p th:text="${errorMessage}" style="color: #ff0000"></p>
                <span class="login100-form-title p-b-43">
						Account Login
					</span>

                <div class="wrap-input100 rs1 validate-input" data-validate = "Username is required">
                    <input class="input100" type="text" name="email" placeholder="email" >
                    <span class="label-input100">Email</span>
                </div>


                <div class="wrap-input100 rs2 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="password" placeholder="password">
                    <span class="label-input100">Password</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Sign in
                    </button>
                </div>

                <!--					<div class="text-center w-full p-t-23">-->
                <!--						<a href="#" class="txt1">-->
                <!--							Forgot password?-->
                <!--						</a>-->
                <!--					</div>-->
            </form>
        </div>
    </div>
</div>





<!--===============================================================================================-->
<!--	<script src="${jsLocation}/main.js"></script>-->
<!--	<script th:src="|${jsLocation}/main.js|"></script>-->
<!--	<script th:src="${vendor/jquery/jquery-3.2.1.min.js}"></script>-->
<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--	<script th:src="${vendor/animsition/js/animsition.min.js}"></script>-->
<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--	<script th:src="${vendor/bootstrap/js/popper.js}"></script>-->
<!--	<script th:src="${vendor/bootstrap/js/bootstrap.min.js}"></script>-->
<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--	<script th:src="${vendor/select2/select2.min.js}"></script>-->
<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--	<script th:src="${vendor/daterangepicker/moment.min.js}"></script>-->
<!--	<script th:src="${vendor/daterangepicker/daterangepicker.js}"></script>-->
<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--	<script th:src="${vendor/countdowntime/countdowntime.js}"></script>-->
<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--	<script th:src="${js/main.js}"></script>-->

</body>
</html>