<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Product List </title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
    <!--    <link th:href="@{fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css}">-->
    <link rel="stylesheet" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" th:href="@{fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

<!--    &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">-->

<!--        &lt;!&ndash; Sidebar - Brand &ndash;&gt;-->
<!--        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="dashboard1.html">-->
<!--            <div class="sidebar-brand-icon rotate-n-15">-->
<!--                <i class="fas fa-laugh-wink"></i>-->
<!--            </div>-->
<!--            <div class="sidebar-brand-text mx-3">Decagon Admin <sup>2</sup></div>-->
<!--        </a>-->

<!--        &lt;!&ndash; Divider &ndash;&gt;-->
<!--        <hr class="sidebar-divider my-0">-->

<!--        &lt;!&ndash; Nav Item - Dashboard &ndash;&gt;-->
<!--        <li class="nav-item active">-->
<!--            <a class="nav-link" href="http://localhost:8080/dashboard"><span>Decagon Dashboard</span></a>-->
<!--            &lt;!&ndash;                    <i class="fas fa-fw fa-tachometer-alt"></i>&ndash;&gt;-->
<!--            &lt;!&ndash;                    <span>Decagon Dashboard</span></a>&ndash;&gt;-->
<!--        </li>-->

<!--        &lt;!&ndash; Divider &ndash;&gt;-->
<!--        <hr class="sidebar-divider">-->

<!--        <li class="nav-item active">-->
<!--            <a class="nav-link" href="http://localhost:8080/daily-attendance">-->
<!--                <i class="fas fa-fw fa-tachometer-alt"></i>-->
<!--                <span>Attendance List</span></a>-->
<!--        </li>-->

<!--        <hr class="sidebar-divider">-->

<!--        <li class="nav-item active">-->
<!--            <a class="nav-link" href="http://localhost:8080/employee-leave">-->
<!--                <i class="fas fa-fw fa-tachometer-alt"></i>-->
<!--                <span>Leave Requests</span></a>-->
<!--        </li>-->

<!--        <hr class="sidebar-divider">-->

<!--        <li class="nav-item active">-->
<!--            <a class="nav-link" href="http://localhost:8080/auth/login">-->
<!--                <i class="fas fa-fw fa-tachometer-alt"></i>-->
<!--                <span>Logout</span></a>-->
<!--        </li>-->

<!--       -->
<!--    </ul>-->
<!--    &lt;!&ndash;        &lt;!&ndash; End of Sidebar &ndash;&gt;&ndash;&gt;-->






    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Products</h1>
        <p class="mb-4">List of shop products <a target="_blank"
                                                                       href=""></a>.</p>
        <a th:href = "@{/new-product}" class="btn btn-primary btn-sm mb-3"> Add Product </a>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Products List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Images</th>
                            <th>Action</th>
                            <!--                                <th>Start date</th>-->
                            <!--                                <th>Salary</th>-->
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Images</th>
                            <th>Action</th>
                            <!--                                <th>Start date</th>-->
                            <!--                                <th>Salary</th>-->
                        </tr>
                        </tfoot>
                        <tbody>

                        <tr th:each="product : ${allProducts}">
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.description}"></td>
                            <td th:text="${product.price}"></td>
                            <td><a th:href="@{/product-page/{id}(id=${product.id})}"><img th:src="${product.image}" width="50px" height="50px"></a></td>
                            <td>
<!--                                <a th:href="@{/update-form/{id}(id=${product.id})}" class = "btn btn-primary">Update</a>-->
<!--                                <a th:href="@{/deleteemployee/{id}(id=${product.id})}" class = "btn btn-danger">Delete</a>-->
<!--                                <a th:href="@{fix-salary/{id}(id=${product.id})}" class = "btn btn-warning">Add Salary</a>-->
                                <a th:href="@{/product-page/{id}(id=${product.id})}" class = "btn btn-success">View Product</a>
                            </td>

                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="admin-login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>