<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create New Product</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1> Add New Product </h1>
    <hr>
    <h2> Save Product</h2>

    <form action="#" th:action="@{/save-product}" th:object = "${product}" method="POST">
        <input type="text" th:field = "*{name}"
               placeholder="Product Name" class ="form-control mb-4 col-4">

        <input type="text" th:field = "*{description}"
               placeholder="Product Description" class ="form-control mb-4 col-4">

        <input type="text" th:field = "*{price}"
               placeholder="Product Price" class ="form-control mb-4 col-4">

        <input type="text" th:field = "*{image}"
               placeholder="Product Image" class ="form-control mb-4 col-4">

<!--        <input type="text" th:field = "*{password}"-->
<!--               placeholder="Employee password" class ="form-control mb-4 col-4">-->

        <button type="submit" class="btn btn-info col-2"> Create Product</button>

    </form>
</div>

</body>
</html>