<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Update Product</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1> Update Product </h1>
    <hr>
    <h2> Update Product</h2>

    <form action="#" th:action="@{/update-product/{id}(id=${product.id})}" th:object = "${product}" method="POST">

        <!-- Add hidden form field to handle update-->
        <input type="hidden" th:field="*{id}"/>
        <label>Product Name</label>
        <input type="text" th:field = "*{name}" class ="form-control mb-4 col-4">
        <label>Product Description</label>
        <input type="text" th:field = "*{description}" class ="form-control mb-4 col-4">
        <label>Product Price</label>
        <input type="text" th:field = "*{price}" class ="form-control mb-4 col-4">
        <label>Simple Image</label>
        <input type="text" th:field = "*{image}" class ="form-control mb-4 col-4">
<!--        <input type="text" th:field = "*{image}"-->
<!--        placeholder="Product Image" class ="form-control mb-4 col-4">-->

        <button type="submit" class="btn btn-info col-2"> Update Product</button>

    </form>
</div>
</body>
</html>